<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name" default="MR1"/>
  <arg name="manager_name" default="nodelet_manager"/>
  <arg name="nodelet_mode" default="standalone"/>

  <group ns="$(arg robot_name)">

<!-- Nodelet Manager -->
    <group if="$(eval nodelet_mode=='load')">
      <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" />
    </group>

<!-- CAN -->
    <node pkg="nodelet" type="nodelet" name="slcan_bridge" 
    args="$(arg nodelet_mode) can_plugins/SlcanBridge $(arg manager_name)" >
      <param name="port" type="string" value="/dev/ttyACM0" />
    </node>

    <node pkg="nodelet" type="nodelet" name="can_handler" 
    args="$(arg nodelet_mode) can_plugins/CanHandler $(arg manager_name)" />

<!--Motor Driver-->
    <node pkg="nodelet" type="nodelet" name="motor1" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="400" />
      <remap from="motor1_cmd" to="launch1_cmd"/>
      <remap from="motor1_cmd_val" to="launch1_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor2" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="410"/>
      <remap from="motor2_cmd" to="launch2_cmd"/>
      <remap from="motor2_cmd_val" to="launch2_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor3" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="420" />
      <remap from="motor3_cmd" to="launch3_cmd"/>
      <remap from="motor3_cmd_val" to="launch3_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor4" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="510" />
      <remap from="motor4_cmd" to="pitch_cmd"/>
      <remap from="motor4_cmd_val" to="pitch_pos"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor5" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="520" />
      <remap from="motor5_cmd" to="yaw_cmd"/>
      <remap from="motor5_cmd_val" to="yaw_pos"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor6" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="530" />
      <remap from="motor6_cmd" to="lift_cmd"/>
      <remap from="motor6_cmd_val" to="lift_vel"/>
    </node>
    
    
    <node pkg="nodelet" type="nodelet" name="MR1_nodelet_main" args="$(arg nodelet_mode) MR1/MR1_nodelet_main $(arg manager_name)"  output="screen">
      <param name="lift_upper_pos" type="double" value="103.3" />
      <param name="lift_lower_pos" type="double" value="0.0" />
      <param name="launch_first_speed" type="double" value="500.0" />
      
    </node>
<!--Solenoid_Driver--> 
    <node pkg="solenoid_driver_node" type="solenoid_driver_node" name="solenoid" >
      <param name="bid" type="string" value="100" />
      <param name="name" value="solenoid"/>
      <remap from="solenoid_cmd" to="solenoid_cmd"/>
      <remap from="solenoid_order" to="solenoid_order"/>
    </node>
<!-- joy -->
    <rosparam file="$(find MR1)/param/logitech_f710_joy_assign.yaml" command="load" />
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
      <param name="dev" type="string" value="/dev/input/js0" />
      <param name="deadzone" value="0.12" />
    </node>
  </group>

<!-- key&mouse -->
  <arg name="mouse_vel" default="mouse_vel"/>
    <arg name="holonomic" default="false"/>
    <arg name="plot" default="false"/>
    <node pkg="mouse_teleop" type="mouse_teleop.py" name="mouse_teleop" output="screen">
      <rosparam file="$(find mouse_teleop)/config/mouse_teleop.yaml" command="load"/>
      <param name="scale" value="1.0"/>
      <remap from="mouse_vel" to="$(arg mouse_vel)"/>
    </node>

    <group if="$(arg plot)">
      <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot"
            args="$(arg mouse_vel)/linear/x $(arg mouse_vel)/linear/y $(arg mouse_vel)/angular/z"/>
    </group>
</launch>   
    
