<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name" default="MR1"/>
  <arg name="manager_name" default="nodelet_manager"/>
  <arg name="nodelet_mode" default="standalone"/>

  <group ns="$(arg robot_name)">

<!-- Nodelet Manager -->
    <group if="$(eval nodelet_mode=='load')">
      <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" />
    </group>

<!-- CAN -->
    <node pkg="nodelet" type="nodelet" name="slcan_bridge" 
    args="$(arg nodelet_mode) can_plugins/SlcanBridge $(arg manager_name)" >
      <param name="port" type="string" value="/dev/ttyACM0" />
    </node>

    <node pkg="nodelet" type="nodelet" name="can_handler" 
    args="$(arg nodelet_mode) can_plugins/CanHandler $(arg manager_name)" />

<!--Motor Driver-->
    <node pkg="nodelet" type="nodelet" name="motor1" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="400" />
      <remap from="motor1_cmd" to="launch1_cmd"/>
      <remap from="motor1_cmd_val" to="launch1_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor2" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="410"/>
      <remap from="motor2_cmd" to="launch2_cmd"/>
      <remap from="motor2_cmd_val" to="launch2_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor3" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="420" />
      <remap from="motor3_cmd" to="launch3_cmd"/>
      <remap from="motor3_cmd_val" to="launch3_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor4" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="510" />
      <remap from="motor4_cmd" to="pitch_cmd"/>
      <remap from="motor4_cmd_val" to="pitch_pos"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor5" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="520" />
      <remap from="motor5_cmd" to="yaw_cmd"/>
      <remap from="motor5_cmd_val" to="yaw_pos"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor6" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="530" />
      <remap from="motor6_cmd" to="lift_cmd"/>
      <remap from="motor6_cmd_val" to="lift_vel"/>
    </node>
    
    
    <node pkg="nodelet" type="nodelet" name="MR1_nodelet_main" args="$(arg nodelet_mode) MR1/MR1_nodelet_main $(arg manager_name)"  output="screen">
      <param name="lift_upper_pos" type="double" value="-116" />
      <param name="lift_lower_pos" type="double" value="0.0" />
      <param name="lift_r_loadwait_pos" type="double" value="-108" />
      <param name="lift_r_loading_pos" type="double" value="-111" />
      <param name="lift_l_loadwait_pos" type="double" value="-112" />
      <param name="lift_l_loading_pos" type="double" value="-115" />
      <param name="launcher_first_speed" type="double" value="800.0" />
      <param name="displaysize_x" type="double" value="2735.0" />
      <param name="displaysize_y" type="double" value="1823.0" />

      <param name="Aim_maxSpeed" type="double" value="1300.0" />
      <param name="Aim_minSpeed" type="double" value="800.0" />
      <param name="Aim_maxPitch" type="double" value="-0.8" />
      <param name="Aim_minPitch" type="double" value="0.0" />
      <param name="Aim_maxYaw_abs" type="double" value="1.4" />
      <param name="Aim_horizontal_range" type="double" value="700" />


      <!-- 上側左
      <param name="LagoriBrake_pos_1_yaw" type="double" value="-0.025" />
      <param name="LagoriBrake_pos_1_pitch" type="double" value="-0.09" />
      <param name="LagoriBrake_pos_1_speed" type="double" value="1060.0" />
      -->
      <!-- 下下
      <param name="LagoriBrake_pos_1_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_1_pitch" type="double" value="0.0125" />
      <param name="LagoriBrake_pos_1_speed" type="double" value="1060.0" />
      <param name="LagoriBrake_pos_2_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_2_pitch" type="double" value="0.0125" />
      <param name="LagoriBrake_pos_2_speed" type="double" value="1060.0" />
      -->
      <!-- ちょい上下
      <param name="LagoriBrake_pos_1_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_1_pitch" type="double" value="-0.05" />
      <param name="LagoriBrake_pos_1_speed" type="double" value="1000.0" /> 
      <param name="LagoriBrake_pos_2_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_2_pitch" type="double" value="0.0125" />
      <param name="LagoriBrake_pos_2_speed" type="double" value="1120.0" />
      -->
      <!-- ちょい上下理想1
      <param name="LagoriBrake_pos_1_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_1_pitch" type="double" value="-0.05" />
      <param name="LagoriBrake_pos_1_speed" type="double" value="900.0" /> 
      <param name="LagoriBrake_pos_2_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_2_pitch" type="double" value="0.0125" />
      <param name="LagoriBrake_pos_2_speed" type="double" value="980.0" />
      -->
      <!-- 下下遅め理想2 あまり広がらない
      <param name="LagoriBrake_pos_1_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_1_pitch" type="double" value="0.0" />
      <param name="LagoriBrake_pos_1_speed" type="double" value="920.0" />
      <param name="LagoriBrake_pos_2_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_2_pitch" type="double" value="0.0" />
      <param name="LagoriBrake_pos_2_speed" type="double" value="920.0" />
      -->
      <!-- 下下遅め理想2 あまり広がらない
      <param name="LagoriBrake_pos_1_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_1_pitch" type="double" value="-0.5" />
      <param name="LagoriBrake_pos_1_speed" type="double" value="580.0" />
      <param name="LagoriBrake_pos_2_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_2_pitch" type="double" value="0.0750" />
      <param name="LagoriBrake_pos_2_speed" type="double" value="1320.0" />
      -->

      <param name="LagoriBrake_pos_1_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_1_pitch" type="double" value="0.075" />
      <param name="LagoriBrake_pos_1_speed" type="double" value="1180.0" />  <!--十の位絶対偶数-->
      <param name="LagoriBrake_pos_2_yaw" type="double" value="0.0" />
      <param name="LagoriBrake_pos_2_pitch" type="double" value="-0.05" />
      <param name="LagoriBrake_pos_2_speed" type="double" value="800.0" /> <!--十の位絶対偶数-->

    </node>
<!--Solenoid_Driver--> 
    <node pkg="solenoid_driver_node" type="solenoid_driver_node" name="solenoid" >
      <param name="bid" type="string" value="100" />
      <param name="name" value="solenoid"/>
      <remap from="solenoid_cmd" to="solenoid_cmd"/>
      <remap from="solenoid_order" to="solenoid_order"/>
    </node>
<!-- joy -->
    <rosparam file="$(find MR1)/param/logitech_f710_joy_assign.yaml" command="load" />
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
      <param name="dev" type="string" value="/dev/input/js0" />
      <param name="deadzone" value="0.12" />
    </node>
  </group>

<!-- key&mouse -->
  <arg name="mouse_vel" default="mouse_vel"/>
    <arg name="holonomic" default="false"/>
    <arg name="plot" default="false"/>
    <node pkg="mouse_teleop" type="mouse_teleop.py" name="mouse_teleop" output="screen">
      <rosparam file="$(find mouse_teleop)/config/mouse_teleop.yaml" command="load"/>
      <param name="scale" value="1.0"/>
      <remap from="mouse_vel" to="$(arg mouse_vel)"/>
    </node>

    <group if="$(arg plot)">
      <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot"
            args="$(arg mouse_vel)/linear/x $(arg mouse_vel)/linear/y $(arg mouse_vel)/angular/z"/>
    </group>
</launch>   
    
