<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot_name" default="MR2"/>
  <arg name="manager_name" default="nodelet_manager"/>
  <arg name="nodelet_mode" default="standalone"/>


  <group ns="$(arg robot_name)">

<!-- Nodelet Manager -->
    <group if="$(eval nodelet_mode=='load')">
      <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" />
    </group>

<!-- CAN -->
    <node pkg="nodelet" type="nodelet" name="slcan_bridge" 
    args="$(arg nodelet_mode) can_plugins/SlcanBridge $(arg manager_name)" >
      <param name="port" type="string" value="/dev/ttyACM0" />
    </node>

    <node pkg="nodelet" type="nodelet" name="can_handler" 
    args="$(arg nodelet_mode) can_plugins/CanHandler $(arg manager_name)" />

<!--Motor Driver-->
    <node pkg="nodelet" type="nodelet" name="motor0" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="5d4" /> <!-- 4a0 -->
      <remap from="motor0_cmd" to="foot0_cmd"/>
      <remap from="motor0_cmd_val" to="foot0_cmd_vel"/>      
    </node>
    <node pkg="nodelet" type="nodelet" name="motor1" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="60c" /> <!-- 60c -->
      <remap from="motor1_cmd" to="foot1_cmd"/>
      <remap from="motor1_cmd_val" to="foot1_cmd_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor2" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="5b0" /> <!-- 5b0 -->
      <remap from="motor2_cmd" to="foot2_cmd"/>
      <remap from="motor2_cmd_val" to="foot2_cmd_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor3" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="4a0" /> <!-- 5d4 -->
      <remap from="motor3_cmd" to="foot3_cmd"/>
      <remap from="motor3_cmd_val" to="foot3_cmd_vel"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor4" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="4c4" /> <!-- 4a0 -->
      <remap from="motor4_cmd" to="steer0_cmd"/>
      <remap from="motor4_cmd_val" to="steer0_val"/>      
    </node>
    <node pkg="nodelet" type="nodelet" name="motor5" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="660" /> <!-- 60c -->
      <remap from="motor5_cmd" to="steer1_cmd"/>
      <remap from="motor5_cmd_val" to="steer1_val"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor6" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="670" /> <!-- 5b0 -->
      <remap from="motor6_cmd" to="steer2_cmd"/>
      <remap from="motor6_cmd_val" to="steer2_val"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor7" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="680" /> <!-- 5d4 -->
      <remap from="motor7_cmd" to="steer3_cmd"/>
      <remap from="motor7_cmd_val" to="steer3_val"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor8" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="4d0" />
      <remap from="motor8_cmd" to="arm_cmd"/>
      <remap from="motor8_cmd_val" to="arm_val"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor9" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="52c"/>
      <remap from="motor9_cmd" to="pitch_right_cmd"/>
      <remap from="motor9_cmd_val" to="pitch_right_cmd_pos"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="motor10" args="$(arg nodelet_mode) can_plugins/Md201xNode $(arg manager_name)" >
      <param name="bid" type="string" value="620" />
      <remap from="motor10_cmd" to="pitch_left_cmd"/>
      <remap from="motor10_cmd_val" to="pitch_left_cmd_pos"/>
    </node>
    
    
    
    <node pkg="nodelet" type="nodelet" name="MR2_nodelet_main" args="$(arg nodelet_mode) MR2/MR2_nodelet_main $(arg manager_name)" >
      
      <param name="Arrow_Pick_Arm_deg" type="double" value="2.5" />
      
    </node>
    
<!--Solenoid_Driver-->  
    <node pkg="solenoid_driver_node" type="solenoid_driver_node" name="solenoid" >
      <param name="bid" type="string" value="100" />
      <param name="name" value="solenoid"/>
      <remap from="solenoid_cmd" to="solenoid_cmd"/>
      <remap from="solenoid_order" to="solenoid_order"/>
    </node>
<!-- joy -->
    <rosparam file="$(find MR2)/param/logitech_f710_joy_assign.yaml" command="load" />
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
      <param name="dev" type="string" value="/dev/input/js0" />
      <param name="deadzone" value="0.12" />
    </node>
    
     <node pkg="nodelet" type="nodelet" name="base_controller" args="$(arg nodelet_mode) base_controller_plugins/Steering $(arg manager_name)" >
      <param name="tire_max_acc" value="1000.0" />
      <param name="tire_max_vel" value="3000.0" />
      <param name="speed_coeff" value="1500.0" />
      <param name="invert_x" value="false" />
      <param name="invert_y" value="false" />
      <param name="invert_z" value="false" />
      <remap from="tire0_cmd_vel" to="foot0_cmd_vel" />
      <remap from="tire1_cmd_vel" to="foot1_cmd_vel" />
      <remap from="tire2_cmd_vel" to="foot2_cmd_vel" />
      <remap from="tire3_cmd_vel" to="foot3_cmd_vel" />
      <remap from="steer0_cmd_pos" to="steer0_val" />
      <remap from="steer1_cmd_pos" to="steer1_val" />
      <remap from="steer2_cmd_pos" to="steer2_val" />
      <remap from="steer3_cmd_pos" to="steer3_val" />
    </node>
  </group>  
</launch>   
    
